.banner {
    padding: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: start;
    max-width: 896px;
    background: #EFF6FF;
    color: #1E40AF;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: -3px;
    margin-left: 12px;
    width: 95%;
}

.text > h4 {
    display: block;
    margin: 0;
    font-size: 0.875rem;
}

.text > p {
    margin: 0;
    padding-top: 8px;
    font-size: 0.875rem;
    text-align: left;
    color: #1C51B9;
    width: 95%;
}

.success {
    background: #ECFDF5;
    color: #065F46;
}

.success > .text > p {
    color: #047857;
}

.warning {
    background: #FFFBEB;
    color: #92400E;
}

.warning > .text > p {
    color: #B45309;
}

.error {
    background: #FEF2F2;
    color: #92400E;
}

.error > .text > p {
    color: #B45309;
}

.neutral {
    background: #EFF6FF;
    color: #1E40AF;
}

.neutral > .text > p {
    color: #1C51B9;
}