.icon {
    font-size: 2rem;
    padding: 10px 15px 5px;
    margin: 0;
}

.icon-area {
    width: fit-content;
    border-radius: 6px;
    background: #3F75FE;
    position: absolute;
    top: -24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    margin-top: 2em;
}

.text-area {
    padding: 2em 5em;
    display: flex;
    width: 336px;
    flex-direction: column;
    align-items: center;
    background: #F9FAFB;
    border-radius: 8px;
}

.text-area>h2 {
    color: #111827;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 32px auto 20px;
}

.text-area>p {
    align-self: stretch;
    color: #6B7280;
    margin: 0;
}

.card :hover {
    box-shadow: 0px 4px 25px 0px #F9FAFB;
}

